<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>小小留言本</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>我的留言本</h1>
    <div class="contaniner">
    <div class="rows">
        <form class="form-horizontal col-lg-4" >
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="姓名" name="name">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">留言</label>
                <div class="col-sm-10">
                <textarea class="form-control" rows="3" id="liuyan" name="liuyan"></textarea>
                </div>
            </div>
            <button type="button" class="btn btn-success" id="tijiao">提交</button>
        </form>
        <div id="leaveText" class="col-lg-4">
            
        </div>
        </div>
        
    </div>
    <div class="alert alert-success alert-dismissible col-lg-6" role="alert" id="success" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>提交成功!</strong> 
    </div>
    <div class="alert alert-danger alert-dismissible col-lg-6" role="alert" id="danger" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>提交失败!</strong> 
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <% for(var i = 1;i<=count;i++){ 
                if(i == 1)
                {%>
                    <li class="pageBtn active" data-page="0"><a href="#">1</a></li>
               <% }else{%>
                    <li class="pageBtn" data-page = '<%=i - 1%>' ><a href="#"><%=i%></a></li>
               <%  }
            } %>
            <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </nav>
    <script type="text/template" id="moban">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading" class="name">{{= name}}</h4>
                <p class="list-group-item-text" class="liuyan">{{= liuyan}}</p>
            </a>
            <a href="/delete?id={{=id}}" class="delete" data-id = {{= id}}>删除</div>
        </div>
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/underscore.js"></script>
    <script type="text/JavaScript">
        //ajax请求数据
        //得到模板 弄成模板函数
        function getData(router){
            $('#leaveText').html('');
            var compiled = _.template($("#moban").html());
            $.get(router,function(result){
                for(var i = result.result.length - 1 ; i>=0; i--){
                    
                    var html = compiled({
                        'liuyan':result.result[i].liuyan,
                        'name':result.result[i].name,
                        'id':result.result[i]._id
                        });
                    $('#leaveText').append(html);
                }    
            });
        }
        getData('/du?page=0');

        //ajax提交表单
        $('#tijiao').click(function(){
            $.post('/tijiao',{
                'name':$('#name').val(),
                'liuyan':$('#liuyan').val()
            },function(result){
                if(result.result == '1'){
                    var compiled = _.template($("#moban").html());
                    var html = compiled({'name':$('#name').val(),'liuyan':$('#liuyan').val()});
                    $(html).insertBefore($('#leaveText .list-group').eq(0));
                    $('#success').fadeIn();
                    setTimeout(function(){
                        $('#success').fadeOut();
                    },3000);
                }else{
                    $('#danger').fadeIn();
                    $('#danger').fadeIn();
                    setTimeout(function(){
                        $('#danger').fadeOut();
                    },3000);
                }
            });
        });

        //给所有页码按钮添加监听
        $('.pageBtn').click(function(){
            $(this).addClass('active').siblings().removeClass('active');
            var page = $(this).attr('data-page');
            getData('/du?page='+page);
        });

        
    </script>
  </body>
</html>