<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        div{
            width:100%;
            padding:40px;
            border:1px solid #000;
            margin:0 auto;
        }
    </style>
</head>
<body>
    <div>
        <form action="/check" method="get">
            输入昵称
            <input type="text" id="username" name="username">
            <input type="submit" id="btn" value="进入聊天室">
        </form>
        
    </div>
</body>
</html>